@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{                                                              /* reseting some elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.popup-visibility{
    display: none;
    width: 50vw;
    height: 30vw;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    font-family: "Poppins", sans-serif ;
}
.popup{
    display: grid;
    grid-gap: 20px;
    color: rgb(255, 238, 0);
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    padding: 50px 40px;
    
}
.popup button{
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.popup ul{
}
.popup li{
}
.popup a{
    display: block;
    width: 100px;
    padding: 5px 5px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px white;
    text-align: center;
    text-decoration: none;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
}
.popup h2{
    text-align: center;
    color: white;
    margin: 10px 0;
}



body{
    color: #ffd700;
    /* display: flex; */
    /* justify-content: center; */
    z-index: 0;
    position: relative;
    /* top: -50%; */
}
.container{
    background-color: #000;
    border-radius: 25px;
    padding: 50px;
}
.title {
    text-align: center;
}
.title span{
    color: white;
}

.status-reset {
    font-size: 25px;
    margin-top: 25px;
    height: 50px;
    width: 600px;
    padding: 0 50px;
}
.status {
    border-left: 5px solid gold;
    border-radius: 5px;
    padding: 10px 10px 10px 5px;
    float: left;                                                 /* i used float in order to prevent moving another div after changing size fo curent div */
}
.status span{
    color: white;
}
.reset {
    float: right;                                               /* i used float in order to prevent moving another div after changing size fo curent div */
    cursor: pointer;
    translate: color, 1.5s ;
    border: 1px solid white;
    box-shadow: rgba(245, 241, 241, 0.733) 0px 2px 8px, rgb(206, 204, 204) 0px 5px 6px;
    border-radius: 5px;
    padding: 7px;    
}
.reset:hover{
    color: white;
    background-color: gold;
    transition: 1s;
}
.game-grid {
    background-color: rgb(218, 209, 209);
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;                    /* equally destrubutes space to 3 */
    grid-template-rows: repeat(3, 1fr);                        /* equally destrubutes space to 3 */
    grid-gap: 15px;                                            /* distance between grid elements */
    margin-top: 50px;

}
.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: black;
    cursor: pointer;
}


.x, .o {
    cursor: default;                                          /* cursor does not react to text*/
}

/* .game-cell::before {          this puts x in all cells
    content: 'x';
} */
.x::after{                     /* why just x class because in javascript we add x as third class of game-cell element*/
    content: '×';              /* changes property of the content after some actions*/      
    color: white;
    font-size: 200px;
}
.o::after{
    content: 'O';              /* changes property of the content after some actions*/         
    font-size: 130px;
}
.won::after{
    color: red;
}

@media only screen  and (max-width:1300px) and (min-width:1200px){                   /* simple way to make it responsive. Not correct way*/
    .container{
        scale: 0.55;
    }
}


/* @media only screen and (max-width:1024px){
    .container{
        height: 300px;
        width: 300px;
    }
    .game-grid{
        margin-top: 25px;
        grid-gap:10px;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .game-cell{
        height: 180px;
        width: 195px;
    }

    .x::after{
        font-size: 150px;
    }
    .o::after{
        font-size: 90px;
    }
}


@media only screen and (max-width:540px){
    .container{
        margin: 25px;
        padding:25px;
    }
    
    .game-cell{
        height: 100px;
        width: 100px;
    }

    .x::after{
        font-size: 100px;
    }
    .o::after{
        font-size: 60px;
    }
} */