@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{                                                              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.popup-visibility{
    display: none;
    width: 50vw;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    font-family: "Poppins", sans-serif ;
}
.popup{
    display: grid;
    grid-gap: 20px;
    color: rgb(255, 238, 0);
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    padding: 20px 40px;
    
}
.popup button{
    display: block;
    margin: 0 0 0 auto;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.popup ul{
}
.popup li{
}
.popup h2{
    text-align: center;
    color: white;
    margin: 10px 0;
}
.popup a{
    display: block;
    color: white;
    font-weight: 700;
    background-color: gold;
    border: 1px solid white;
    width: 100px;
    padding: 12px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px white;
    text-align: center;
    text-decoration: none;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    margin-top: 30px;
}




/* body{
    color: #ffd700;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
    top: -50%;
}
.container{
    background-color: #000;
    border-radius: 25px;
    padding: 50px;
}
.title {
    text-align: center;
}
.title span{
    color: white;
}

.status-reset {
    font-size: 25px;
    margin-top: 25px;
    height: 50px;
    width: 600px;
    padding: 0 50px;
}
.status {
    border-left: 5px solid gold;
    border-radius: 5px;
    padding: 10px 10px 10px 5px;
    float: left;                                           
}
.status span{
    color: white;
}
.reset {
    float: right;                                         
    cursor: pointer;
    translate: color, 1.5s ;
    border: 1px solid white;
    box-shadow: rgba(245, 241, 241, 0.733) 0px 2px 8px, rgb(206, 204, 204) 0px 5px 6px;
    border-radius: 5px;
    padding: 7px;    
}
.reset:hover{
    color: white;
    background-color: gold;
    transition: 1s;
} */







.game-grid {
    background-color: rgb(218, 209, 209);
    display: grid;
    grid-template-rows: repeat(3, 1fr);                        
    grid-template-columns: repeat(3, 1fr) ;                    
    grid-gap: 15px;                                            
    margin-top: 50px;

}
.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: black;
    cursor: pointer;
} 










.x, .o {
    cursor: default;                                          
}

.game-cell::before {          
    content: 'x';
} 
.x::after{                     
    content: '×';                    
    color: white;
    font-size: 200px;
}
.o::after{
    content: 'O';                       
    font-size: 130px;
}
.won::after{
    color: red;
}











/* @media only screen  and (max-width:1300px) and (min-width:1200px){                   
    .container{
        scale: 0.55;
    }
}


@media only screen and (max-width:1024px){
    .container{
        height: 300px;
        width: 300px;
    }
    .game-grid{
        margin-top: 25px;
        grid-gap:10px;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .game-cell{
        height: 180px;
        width: 195px;
    }

    .x::after{
        font-size: 150px;
    }
    .o::after{
        font-size: 90px;
    }
}


@media only screen and (max-width:540px){
    .container{
        margin: 25px;
        padding:25px;
    }
    
    .game-cell{
        height: 100px;
        width: 100px;
    }

    .x::after{
        font-size: 100px;
    }
    .o::after{
        font-size: 60px;
    }
}  */